body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

#sonuc {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    width: 320px;
    text-align: center;
}

.urun-resmi {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.vurgu {
    font-size: 1.2rem;
    color: #2ecc71;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}